@import "normalize";
@import "bourbon/bourbon";
@import "neat/neat";

// Fonts

$mainFont: 'Andika', sans-serif;

// Colors

$white: #fff;
$black: #000;
$grey: #333;
$red: #f00;

$greenish: rgb(100, 225, 100);
$redish: rgb(225, 100, 100);

$background: darken(#483C32, 15);

$color1: #483C32;
$color2: #786D5F;
$color3: #E67617;

// Dimensions

$mainWidth: 90%;
$mainFontSize: 0.8em;

$gameInfoHeight: 40px;


*, *:before, *:after {
  @include box-sizing(border-box);
}

.hidden {
  display: none !important;
}

// keyframes

@include keyframes(noteIn) {
  0% {
    opacity: 0;
    @include transform(scale(0));
  }
  100% {
    opacity: 1;
    @include transform(scale(1));
  }
}

@include keyframes(noteOut) {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    @include transform(translateY(40px));
  }
}


@include keyframes(imgIn) {
  0% {
    opacity: 0;
    @include transform(translateY(1em));
  }
  100% {
    opacity: 1;
    @include transform(translateY(0));
  }
}

@include keyframes(attention) {
  0% {
    opacity: 0.4;
    color: $red;
    @include transform(scale(1.3));
  }
  100% {
    opacity: 1;
  }
}

@include keyframes(bigButton) {
  0% {
    
  }
  100% {
    @include transform(scale(4));
  }
}