@import "normalize";
@import "bourbon/bourbon";
@import "neat/neat";

// Fonts

$mainFont: 'Andika', sans-serif;

// Colors

  // greyish
  $clouds: rgb(236, 240, 241);
  $silver: rgb(189, 195, 199);
  $asbestos: rgb(127, 140, 141);

  // greenish
  $nephritis: rgb(39, 174, 96);
  $emerald: rgb(46, 204, 113);
  
  // redish
  $alizarin: rgb(231, 76, 60);
  
  // orangeish
  $carrot: rgb(230, 126, 34);
  
  // light blueish
  $greenSea: rgb(22, 160, 133);
  
  // dark blueish
  $wetAsphalt: rgb(52, 73, 94);

$white: rgb(236, 240, 241);
$black: rgb(44, 62, 80);
$grey: #333;

$background: rgb(236, 240, 241);

// Dimensions

$mainWidth: 95%;
$mainFontSize: 0.8em;

$gameInfoHeight: 40px;


*, *:before, *:after {
  @include box-sizing(border-box);
}

.hidden {
  display: none !important;
}

%button {
  @include transition(all 0.2s ease-out);
  &:hover {
    box-shadow:
      1px 1px 0px 0px $wetAsphalt,
      2px 2px 0px 0px darken($wetAsphalt, 5),
      3px 3px 0px 0px darken($wetAsphalt, 10)
      ;
  }
  &:active {
    @include transform(translate(3px));
    box-shadow: 0px 0px 3px 0 $wetAsphalt inset;
  }
}

// keyframes

@include keyframes(noteIn) {
  0% {
    opacity: 0;
    @include transform(translateY(4em));
  }
  30% {
    opacity: 1;
    @include transform(translateY(0));
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@include keyframes(imgIn) {
  0% {
    opacity: 0;
    @include transform(translateY(1em));
  }
  100% {
    opacity: 1;
    @include transform(translateY(0));
    height: 0;
  }
}

@include keyframes(attention) {
  0% {
    opacity: 0.4;
    color: $alizarin;
    @include transform(scale(1.3));
  }
  100% {
    opacity: 1;
  }
}

@include keyframes(dialogIn) {
  0% {
    opacity: 0;
    @include transform(rotateX(40deg) scale(0.98));
  }
  100% {
    opacity: 1;
    @include transform(rotateX(0deg) scale(1));
  }
}