@import "bourbon/bourbon";

// Colors

$white: #fff;
$black: #000;
$grey: #333;

$background: hsl(124deg, 2, 14);

$color1: hsl(135deg,20,45);
$color2: darken($color1, 15%);

*, *:before, *:after {
  @include box-sizing(border-box);
}



// keyframes

@include keyframes(noteIn) {
  0% {
    opacity: 0;
    @include transform(translateY(40px));
  }
  100% {
    opacity: 1;
  }
}

@include keyframes(imgIn) {
  0% {
    opacity: 0;
    @include transform(translateX(3em));
  }
  100% {
    opacity: 1;
    @include transform(translateX(0));
  }
}